%h1 Sign in
.row-fluid	
	.span6
		= form_for :session, url: sessions_path do |f|
			= f.label :email
			= f.text_field :email
			= f.label :password
			= f.text_field :password
			= f.submit "Sign in", class: "btn btn-large"

		%p New user? #{ link_to "Sign up now!", signup_path}



