.row-fluid
  .span12
    %h2 Welcome
    = form_for @user do |f|
      .span4

        = render 'shared/error_messages'
  
        = f.label :name
        = f.text_field :name
      
        = f.label :email
        = f.text_field :email, :placeholder => "example@example.com"
      
        = f.label :password
        = f.password_field :password
      
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      
        = f.label :semester
        = f.select :semester, %w{ 000 001 002 }
      
        = f.submit "Submit", class: "btn btn-large btn-primary"